<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="getbootstrap/bootstrap.min.css">

<title>Filesystem Hierarchy Standard</title>
<body>
	<div data-th-replace="navbar :: html"></div>

	<div class="container">
		<h1 class="display-4 text-center">Filesystem Hierarchy Standard</h1>
		<p align="center">
			<span>HTML：</span> <a class="text-success"
				href="http://www.pathname.com/fhs/pub/fhs-2.3.html">Filesystem
				Hierarchy Standard</a>
		</p>

		<p align="center">
			<span>PDF：</span> <a class="text-success" href="pdf/fhs-2.3.pdf">Filesystem
				Hierarchy Standard</a>
		</p>

		<p align="center">
			<span>百度网盘：</span> <a class="text-danger"
				href="https://pan.baidu.com/s/1bqEIldX">https://pan.baidu.com/s/1bqEIldX</a>
		</p>

		<div class="container">
			<embed src="pdf/fhs-2.3.pdf" style="width: 100%; height: 800px;">
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="jquery/jquery.min.js"></script>
	<script src="popper/popper.min.js"></script>
	<script src="getbootstrap/bootstrap.min.js"></script>
	<script src="clipboardjs/clipboard.min.js"></script>
	<script type="text/javascript">
		var clipboard = new Clipboard('.btn');

		clipboard.on('success', function(e) {
			console.info('Action:', e.action);
			console.info('Text:', e.text);
			console.info('Trigger:', e.trigger);

			e.clearSelection();
		});

		clipboard.on('error', function(e) {
			console.error('Action:', e.action);
			console.error('Trigger:', e.trigger);
		});
	</script>
</body>
</html>