<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="getbootstrap/bootstrap.min.css">

<title>sed</title>
<body>
	<div data-th-replace="navbar :: html"></div>

	<div class="container">
		<h1 class="display-4 text-center">sed</h1>
		<p class="lead">sed命令不太懂，也是网络上寻找的。</p>
		<p class="text-primary">1.直接上命令，命令时截取2018-01-28的第一条信息开始至2018-01-31的第一条信息。</p>
		<!-- Trigger -->
		<button class="btn btn-outline-secondary btn-sm float-right"
			data-clipboard-target="#code1">copy</button>
		<p>
			<!-- Target -->
			<code class="text-success" id="code1">sed -n
				'/2018-01-28/,/2018-01-31/p'
				/opt/apache-tomcat-6.0.44/logs/catalina.out > /12.log</code>
		</p>
		<div align="center">
			<img src="img/miscellaneous/linux/sed_01.jpg">
		</div>

		<p class="text-primary">2.查看12.log的最前十行。</p>
		<!-- Trigger -->
		<button class="btn btn-outline-secondary btn-sm float-right"
			data-clipboard-target="#code2">copy</button>
		<p>
			<!-- Target -->
			<code class="text-success" id="code2">head -n 10 /12.log</code>
		</p>
		<div align="center">
			<img src="img/miscellaneous/linux/sed_02.jpg">
		</div>

		<p class="text-primary">3.查看12.log的最后十行。</p>
		<!-- Trigger -->
		<button class="btn btn-outline-secondary btn-sm float-right"
			data-clipboard-target="#code3">copy</button>
		<p>
			<!-- Target -->
			<code class="text-success" id="code3">tail -n 10 /12.log</code>
		</p>
		<div align="center">
			<img src="img/miscellaneous/linux/sed_03.jpg">
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="jquery/jquery.min.js"></script>
	<script src="popper/popper.min.js"></script>
	<script src="getbootstrap/bootstrap.min.js"></script>
	<script src="clipboardjs/clipboard.min.js"></script>
	<script type="text/javascript">
		var clipboard = new Clipboard('.btn');

		clipboard.on('success', function(e) {
			console.info('Action:', e.action);
			console.info('Text:', e.text);
			console.info('Trigger:', e.trigger);

			e.clearSelection();
		});

		clipboard.on('error', function(e) {
			console.error('Action:', e.action);
			console.error('Trigger:', e.trigger);
		});
	</script>
</body>
</html>