<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="getbootstrap/css/bootstrap.min.css">

<title>Spring</title>
</head>
<body>
	<div data-th-replace="navbar :: html"></div>

	<div class="container">
		<div class="m-1">
			<div class="list-group">
				<a class="list-group-item list-group-item-action"
					data-th-href="@{${'/miscellaneous'}(html='miscellaneous/spring/isb')}">
					Installing Spring Boot applications</a>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="jquery/jquery.min.js"></script>
	<script src="popper/popper.min.js"></script>
	<script src="getbootstrap/js/bootstrap.min.js"></script>
</body>
</html>