<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="getbootstrap/css/bootstrap.min.css">

<title data-th-text="${status}"></title>
</head>
<body>
	<div data-th-replace="navbar :: html"></div>

	<p class="display-1 text-secondary" align="center"
		data-th-text="${status}"></p>
	<p class="display-1 text-danger" align="center">Sorry!</p>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="jquery/jquery.min.js"></script>
	<script src="popper/popper.min.js"></script>
	<script src="getbootstrap/js/bootstrap.min.js"></script>
</body>
</html>