<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${error != null}">
		<table>
			<thead>
				<tr>
					<th>TIME</th>
					<th>ERRM</th>
					<th>CODE</th>
					<th>CONTEXT</th>
					<th>Q</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${error}">
					<td th:text="${e.time}" />
					<td th:text="${e.errm}" />
					<td th:text="${e.code}" />
					<td th:text="${e.context}" />
					<td th:text="${e.q}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>