<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<title>Letter</title>
</head>
<body>
	<div data-th-replace="navbar :: html"></div>

	<div class="container-fluid" align="center">
		<p>
			<button class="btn btn-primary m-1 position-relative" type="button"
				style="width: 40px;" data-th-each="l : ${letter}"
				data-th-text="${l.letter}" data-th-attr="id=${l.id}"></button>
		</p>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var p = "<p class='badge badge-dark position-absolute' style='display: none;'>_$ta";

			$(".btn").mouseenter(function() {
				$(this).append(p);

				$("p.badge").text($(this).attr("id"));

				var buttonWidth = $(this).outerWidth();
				var pWidth = $("p.badge").outerWidth();
				var pHeight = $("p.badge").outerHeight();

				$("p.badge").css({
					"top" : -(10 + pHeight),
					"left" : (buttonWidth - pWidth) / 2
				});

				$("p.badge").fadeIn();
			});
			$(".btn").mouseleave(function() {
				$("p.badge").fadeOut();
				$("p.badge").remove();
			});
		});
	</script>
</body>
</html>