<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<title>Letter</title>
</head>
<body>
	<div data-th-replace="navbar :: html"></div>

	<div class="container-fluid" align="center">
		<p>
			<button class="btn btn-primary m-1" type="button"
				style="width: 2.5em;" data-th-each="l : ${letter}"
				data-th-text="${l.letter}" data-th-attr="id=${l.id}"></button>
		</p>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="jquery/jquery.min.js"></script>
	<script src="popper/popper.min.js"></script>
	<script src="getbootstrap/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var p = "<p class='badge badge-dark position-absolute' style='display: none; width: 2em;'></p>";

			$(".btn").mouseenter(function() {
				var top = $(this).offset().top;
				var left = $(this).offset().left;

				$("body").append(p);

				$("p.badge").text($(this).attr("id"));

				var buttonOuterWidth = $(this).outerWidth();
				var pOuterWidth = $("p.badge").outerWidth();

				$("p.badge").css({
					"top" : $(this).offset().top - 20,
					"left" : left + (buttonOuterWidth - pOuterWidth) / 2
				});

				$("p.badge").fadeIn();
			});
			$(".btn").mouseleave(function() {
				$("p.badge").fadeOut();
				$("p.badge").remove();
			});
		});
	</script>
</body>
</html>