<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Letter</title>
</head>
<body>
	<div data-th-replace="navbar :: html"></div>

	<div class="container-fluid" align="center">
		<p>
			<button class="btn btn-primary m-1" type="button"
				style="width: 2.5em;" data-th-each="l : ${letter}"
				data-th-text="${l.letter}" data-th-attr="id=${l.id}"></button>
		</p>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(function() {
			var p = "<p class='badge badge-dark position-absolute' style='display: none; width: 2em;'></p>";

			$(".btn").mouseenter(function() {
				var top = $(this).offset().top;
				var left = $(this).offset().left;

				$("body").append(p);

				$("p.badge").text($(this).attr("id"));

				var buttonOuterWidth = $(this).outerWidth();
				var pOuterWidth = $("p.badge").outerWidth();

				$("p.badge").css({
					"top" : $(this).offset().top - 20,
					"left" : left + (buttonOuterWidth - pOuterWidth) / 2
				});

				$("p.badge").fadeIn();
			});
			$(".btn").mouseleave(function() {
				$("p.badge").fadeOut();
				$("p.badge").remove();
			});
		});
	</script>
</body>
</html>