<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- Google AdSense -->
<script async
	src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client : "ca-pub-1272338048821191",
		enable_page_level_ads : true
	});
</script>
<!-- Google AdSense -->
<!-- 心知天气 -->
<script>
	(function(T, h, i, n, k, P, a, g, e) {
		g = function() {
			P = h.createElement(i);
			a = h.getElementsByTagName(i)[0];
			P.src = k;
			P.charset = "utf-8";
			P.async = 1;
			a.parentNode.insertBefore(P, a)
		};
		T["ThinkPageWeatherWidgetObject"] = n;
		T[n] || (T[n] = function() {
			(T[n].q = T[n].q || []).push(arguments)
		});
		T[n].l = +new Date();
		if (T.attachEvent) {
			T.attachEvent("onload", g)
		} else {
			T.addEventListener("load", g, false)
		}
	}(window, document, "script", "tpwidget",
			"//widget.seniverse.com/widget/chameleon.js"))
</script>
<script>
	tpwidget("init", {
		"flavor" : "bubble",
		"location" : "WX4FBXXFKE4F",
		"geolocation" : "enabled",
		"position" : "top-left",
		"margin" : "10px 180px",
		"language" : "auto",
		"unit" : "c",
		"theme" : "chameleon",
		"uid" : "U8D2EF9407",
		"hash" : "41ca530120f25894452929d809476620"
	});
	tpwidget("show");
</script>
<!-- 心知天气 -->
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/"><img src="img/logo/logo.jpg"
			height="150" width="150"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/tool">工具</a></li>
				<li class="nav-item"><a class="nav-link" href="/miscellaneous">杂项</a></li>
				<li class="nav-item"><a class="nav-link" href="/letter">Letter</a></li>
				<li class="nav-item"><a class="nav-link" href="/feedback">帮助和反馈</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="javascript:void(0);"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/tool">工具</a>
					</div></li>
				<!-- 心知天气 -->
				<li class="nav-item"><div id="tp-weather-widget"
						class="nav-link"></div></li>
				<!-- 心知天气 -->
				<!-- IP -->
				<li class="nav-item"><p class="nav-link text-danger"
						data-th-text="${RA}"></p></li>
				<!-- IP -->
			</ul>
		</div>
	</nav>
</body>
<!-- 心知天气 -->
<script>
	(function(T, h, i, n, k, P, a, g, e) {
		g = function() {
			P = h.createElement(i);
			a = h.getElementsByTagName(i)[0];
			P.src = k;
			P.charset = "utf-8";
			P.async = 1;
			a.parentNode.insertBefore(P, a)
		};
		T["ThinkPageWeatherWidgetObject"] = n;
		T[n] || (T[n] = function() {
			(T[n].q = T[n].q || []).push(arguments)
		});
		T[n].l = +new Date();
		if (T.attachEvent) {
			T.attachEvent("onload", g)
		} else {
			T.addEventListener("load", g, false)
		}
	}(window, document, "script", "tpwidget",
			"//widget.seniverse.com/widget/chameleon.js"))
</script>
<script>
	tpwidget("init", {
		"flavor" : "slim",
		"location" : "WX4FBXXFKE4F",
		"geolocation" : "enabled",
		"language" : "auto",
		"unit" : "c",
		"theme" : "chameleon",
		"container" : "tp-weather-widget",
		"bubble" : "enabled",
		"alarmType" : "badge",
		"uid" : "U8D2EF9407",
		"hash" : "df70f4f681d5fac7e39d9c12045558f9"
	});
	tpwidget("show");
</script>
<!-- 心知天气 -->
</html>