<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style type="text/css">
table {
	white-space: nowrap;
}
</style>
<title>Hello, world!</title>
</head>
<body>
	<div data-th-replace="navbar :: html"></div>

	<!-- Comparators and Equality -->
	<div class="container alert alert-success" align="center"
		data-th-text="|gt (>), lt (<), ge (>=), le (<=), not (!). Also eq (==), neq/ne (!=).|"></div>
	<!-- Comparators and Equality -->

	<div class="container">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>BZXMTYBH</th>
					<th>XMBSM</th>
					<th>XMMC</th>
					<th>XMXZ</th>
					<th>XZQH</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="p : ${page}">
					<td data-th-text="${p.id}" />
					<td data-th-text="${p.bzxmtybh}" />
					<td data-th-text="${p.xmbsm}" />
					<td data-th-text="${p.xmmc}" />
					<td data-th-text="${p.xmxz}" />
					<td data-th-text="${p.xzqh}" />
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Pagination -->
	<div class="container">
		<ul class="pagination float-right">
			<!-- First -->
			<li class="page-item"
				data-th-classappend="${page.first ? 'disabled' : ''}"><a
				class="page-link"
				data-th-href="@{${'/page'}(page=${page.totalPages - page.totalPages})}"
				data-th-text="First"></a></li>
			<!-- First -->

			<!-- Previous -->
			<li class="page-item"
				data-th-classappend="${page.first ? 'disabled' : ''}"><a
				class="page-link"
				data-th-href="@{${'/page'}(page=${page.number} - 1)}"
				data-th-text="Previous"></a></li>
			<!-- Previous -->

			<li class="page-item">
				<!-- page.first --> <select class="form-control"
				data-th-if="${page.first}">
					<option data-th-text="${page.number + 1}" selected></option>
					<option
						data-th-each="n : ${#numbers.sequence(page.number + 2, page.totalPages)}"
						data-th-text="${n}"></option>
			</select> <!-- page.first --> <!--  --> <select class="form-control"
				data-th-if="${not page.first && not page.last}">
					<option data-th-each="n : ${#numbers.sequence(1, page.number)}"
						data-th-text="${n}"></option>
					<option data-th-text="${page.number + 1}" selected></option>
					<option
						data-th-each="n : ${#numbers.sequence(page.number + 2, page.totalPages)}"
						data-th-text="${n}"></option>
			</select> <!--  --> <!-- page.last --> <select class="form-control"
				data-th-if="${page.last}">
					<option
						data-th-each="n : ${#numbers.sequence(1, page.totalPages - 1)}"
						data-th-text="${n}"></option>
					<option data-th-text="${page.number + 1}" selected></option>
			</select> <!-- page.last -->
			</li>

			<!-- Next -->
			<li class="page-item"
				data-th-classappend="${page.last ? 'disabled' : ''}"><a
				class="page-link"
				data-th-href="@{${'/page'}(page=${page.number} + 1)}"
				data-th-text="Next"></a></li>
			<!-- Next -->

			<!-- Last -->
			<li class="page-item"
				data-th-classappend="${page.last ? 'disabled' : ''}"><a
				class="page-link"
				data-th-href="@{${'/page'}(page=${page.totalPages} - 1)}"
				data-th-text="Last"></a></li>
			<!-- Last -->

			<li class="page-item disabled"><a class="page-link"
				data-th-text="|共${page.totalPages}页|"> </a></li>

			<li class="page-item disabled"><a class="page-link"
				data-th-text="|每页${page.size}条|"></a></li>

			<li class="page-item disabled"><a class="page-link"
				data-th-text="|共${page.totalElements}条|"></a></li>
		</ul>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(function() {
			$("select").change(function() {
				window.location.href = "/page?page=" + ($(this).val() - 1);
			});
		});
	</script>
</body>
</html>