<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="getbootstrap/bootstrap.min.css">

<title>Oracle</title>
</head>
<body>
	<div data-th-replace="navbar :: html"></div>

	<div class="container" align="center">
		<audio src="Beyond - 不再犹豫.mp3">
		</audio>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="jquery/jquery.min.js"></script>
	<script src="popper/popper.min.js"></script>
	<script src="getbootstrap/bootstrap.min.js"></script>
	<script src="audiojs/audio.min.js"></script>
	<script type="text/javascript">
		audiojs.events.ready(function() {
			var as = audiojs.createAll();
		});
	</script>
</body>
</html>